<!DOCTYPE html>
<html>
  <head>
    <title>課題５</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<% if user_signed_in? %>
    ようこそ<%= current_user.name  %>さん
    <br>
  	email：<%= current_user.email %>でログインしています。
    <br>
    <br>
    異なる場合は
  	<%= link_to "ログアウト", destroy_user_session_path, method: :delete %>願います。
  	<% else %>
  	<%= link_to "新規登録", new_user_registration_path %>
    


  	<%= link_to "ログイン", new_user_session_path %>
    <%= link_to "管理者用ページ", rails_admin_path %>
<% end %>

    <%= yield %>
  </body>
</html>


